div.central {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100%;
}

body {
  background-color: #333;
  background-image: url(./hs2.jpg);
  background-size: cover;
  font-family: 'Quicksand' !important;
  color: rgb(93, 168, 225) !important;
}
.title {
  font-family: 'Quicksand' !important;
  color: rgb(93, 168, 225) !important;
}

.fill {
  height: 100%;
}

.central, .navbar, navbar-expand {
  border-color: blue;
  border-width: 1px;
}
.logo {
  height: 2em;
}
ul.navbar-nav li {
  padding-left: 3vw;
  padding-right: 3vw;
}
.content img {
  border: 1px solid white;
}
.content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2%;
  height: 42vw;
}
.title {
  font: 3em Helvetica;
  color: white;
  padding-top: 1em;
  color: rgba(0, 0, 0, .5)
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, .5);
}
.social {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  /* width: 60%; */
  /* background-color: white; */
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
}
.social-icons img {
  height: 2em;
}
.profile-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* align-self: baseline; */
  flex-flow: column;
  padding-top: 5%;
}
footer {
  padding-top: 8%;
}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
  color: rgb(93, 168, 225);
}

.social-icons:hover, nav-item:hover {
  transition: 1s;
  transform: scale(1.5,1.5);
  background-color: rgba(0,0,0,0);
}
.about-info {
  font-size: 1.3em;
  width: 90%;
  height: 80%;
}
.about-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
padding-top: 1em;

}
.location-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;

}
